.container {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  min-height: 18px;
}

.container:hover {
  border: 1px solid #707070;
}
.cursor {
  width: fit-content;
  min-height: 18px;
  border-right: .15em solid black;
  animation: 
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

